<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.main"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="23" />
    
    <!-- 前台显示挂件需要的权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.example.viewex.activity.SVGImageActivity"/>
        <activity android:name="com.example.viewex.activity.MagnetIvActivity"/>
        <activity android:name="com.example.viewex.activity.AnimatorLoadingActivity"/>
        <activity android:name="com.example.viewex.activity.SwitchBtnActivity"/>
        <activity android:name="com.example.viewex.activity.DateTimeActivity"/>
        <activity android:name="com.example.viewex.activity.MyListViewActivity"/>
        <activity android:name="com.example.viewex.activity.TitleBarTestActivity"/>
        <activity android:name="com.example.viewex.activity.RulerTestActivity"/>
        
        <service android:name="com.example.viewex.service.PendentServes" />
    </application>

</manifest>
